<!DOCTYPE html>
<html>

  <body>
    <form action= "/payment/results">
      
      <label for="APR"> APR</label>
      <input id="APR" type="text" name="apr"><br>

      <label for="num_year"> Number of Years </label>
      <input id="num_year" type="text" name="num_years"><br>

      <label for="principal"> Principal </label>
      <input id="principal" type="text" name="principal"><br>

      <button>Calculate monthly payment</button>
    </form>
  </body>

</html>
