<html>

<h1> Random Results </h1>

<body>
  <div>
    <dl>
      <dt>
        Minimum
      </dt>
      <dd>
        <%= @min %>
      </dd>

      <dt>
        Maximum
      </dt>
      <dd>
        <%= @max %>
      </dd>
    </dl>

     <dt>
        Random Number
      </dt>
      <dd>
        <%= @random_num %>
      </dd>
    </dl>

  </div>

  <div>
    <a href="/random/new">Pick another random number</a>
  </div>

</body>
</html>
