<!DOCTYPE html>
<html>

  <body>
    <form action= "/random/results">
      
      <label for="min"> Minimum </label>
      <input id="min" type="text" name="min"><br>

      <label for="max"> Maximum </label>
      <input id="max" type="text" name="max"><br>

      <button>Pick random number</button>
    </form>
  </body>

</html>
