<!DOCTYPE html>
<html>

  <body>
    <form action= "/square_root/results">
      
      <label for="number_squareroot"> Enter a number</label> 
      <input id="number_squareroot" type="text" name="number_square_root">

      <button>Calculate Square Root</button>
    </form>
  </body>

</html>
