<!DOCTYPE html>
<html>

  <body>
    <form action= "/square/results">
      
      <label for="number_square"> Enter a number</label> 
      <input id="number_square" type="text" name="number">

      <button>Calculate Square</button>
    </form>
  </body>

</html>
